# Unreal Engine folders to ignore
Saved/
Intermediate/
DerivedDataCache/
Build/
Binaries/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Unreal binary assets
*.uasset
*.umap
*.ubulk
*.uexp
*.udic

# Optional: ignore compiled shaders and logs
*.log
*.bin
*.pdb
*.dll
*.exe